<div><b>活动时间</b><br> <%= act_start_time_str %> 至 <%= act_end_time_str %></div>
<div><b>活动地点</b><br> <%= act_place %></div>
<div><b>抢票方式</b><br> 在微信中直接回复 <span style="color:red;">"抢票 <%= act_name %>"</span></div>
<div><b>抢票时间</b><br> <%= act_book_start_time_str %> 至 <%= act_book_end_time_str %></div>
<div><b>活动介绍</b><br>
  <%= act_desc %>
</div>