<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>活动详情</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta content="telephone=no" name="format-detection">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/stylesheets/activity_detail_user.css">
  <script type="text/javascript">
    window.onerror = function() {
      return true;
    }
  </script>
</head>
<body>
  <div id="title">
    <div class="space"></div>
    <h2 class="text-white"><%= act_name %></h1>
  </div>

  <main class="scroll">
    <p class="content">
      <span class="text-yellow">时间：</span><span class="text-white" id="act-time"></span>
    </p>

    <p class="content"><span class="text-yellow">地点：</span><span class="text-white"><%= act_place %></span></p>

    <p class="content"><span class="text-yellow">简介：</span><span id="desc" class="text-white"><%- act_desc %></span></p>
  </main>

  <footer>
    <div class="container">
      <h3>抢票方式</h3>
      <p id="act-status"><span id="book-time"></span> 线上抢票，数量有限,先到先得！</p>
      <ul>
        <li>在微信中直接回复<b>抢票 活动名</b>即可</li>
        <li>或者点击菜单中的抢票</li>
      </ul>
    </div>
  </footer>

  <script src="/js/jquery-2.1.1.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/activity_detail_time.js"></script>

  <script>

    $(function() {
      $('#act-time').text(combine_time(Number(<%= act_start %>), Number(<%= act_end %>)));
      $('#title').css('background-image', 'url(' + '<%= act_pic_url %>'.substr('<%= act_pic_url %>'.indexOf('/uploadpics')) + ')');

      if (Number(<%= ticket_status %>) === 2) {
        $('#act-status').text('活动已结束');
      } else {
        $('#book-time').text(combine_time(Number(<%= act_book_start %>), Number(<%= act_book_end %>)));
      }

      var last_st = 0;
      var $footer = $('footer');
      var $scroll = $('.scroll');

      var contents_height = Array.prototype.map.call($('.content'), function(a) { return $(a).height(); }).reduce(function(a, b) { return a + b; });

      $(window).on('touchmove', !(contents_height < $scroll.height() * 4 / 7));

      $scroll.on('touchstart', function(e) {
        last_st = e.originalEvent.touches[0].pageY;
      });

      $scroll.on('touchmove', function(e) {
        var st = e.originalEvent.touches[0].pageY;

        if (st > last_st + 2) {
          $footer.show('slide', { direction: 'down' }, 500);
        } else if (st < last_st - 2) {
          $footer.hide('slide', { direction: 'down' }, 500);
        }

        last_st = st;
      });
      
    });
  </script>
</body>
</html>
